body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: url(https://wallpapercave.com/wp/wp4575272.jpg);
    background-size: cover;
    
}
.box{
    width:300;
    padding:30px;
    position: center;
    top:50%;
    left:50%
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.4);
    text-align: center;
    
}

.feedback{
  background-color : gold;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: blue;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    
}
.box input[type="text"],.box input[type="password"]
{
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border:3px solid blue;
padding: 14px 10px;
width: 220px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25px;
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
width: 270px;
border-color:gold;
    
  
}
.box input[class="menu"]{
border: 0;
background: none;
display: block;
margin: 20px;
text-align: center;
border: 3px solid gold;
padding: 14px 35px;
outline: none;
color: white;
border-radius: 24px;
transition:0.25px;
cursor: pointer;
    

}

.box input[type="submit"]:hover
{
text-align: center;
background: gold;
    
}

